<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="BITCollege_NFContext" connectionString="Data Source=LAPTOP-KBQF560I\MARS; Initial Catalog=BITCollege_NF; Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>